<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @donor.email %>
</p>

<table>

  <tr>
    <th>Donation</th>
    <th>Date</th>
  </tr>
  <tr>
    <% @donor.donations.each do |donation|%>
      <td><%=  number_to_currency(donation.amount) %></td>
        <td> <%=donation.donation_date%> </td>

  </tr>
  <%end%>

</table>

<p>
  <strong>Total Donations:</strong>
  <%= number_to_currency(@donation_total) %>
</p>

<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
