<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @donation.amount %>
</p>

<p>
  <strong>Donation date:</strong>
  <%= @donation.donation_date %>
</p>

<p>
  <strong>Donor:</strong>
  <%= @donation.donor.name %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
